
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,600;1,200;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,800;1,900&family=Whisper&display=swap');

* 
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;

}

section 
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    
}

header{
    width: 100%;
    padding: 1px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-image: url('../imgs/header_background.png');
    background-size: cover;
}

header .logo_PetWorld{
    position: relative;
    max-width: 65px;
    margin-top: 5px;
}

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style: none;
    
}

header ul li a:hover
{
    color: #bb5912;
    transform: translateY(-2.5px);
    transition: 0.5s;
}

header ul li a:not(:hover)
{
    color: #ec7c0c;
    transform: translateY(0px);
    transition: 0.5s;
}

header ul li a
{
    display: inline-block;
    color: #ec7c0c;
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none;
}

.content
{
    max-width: 100%;
    height: 85.7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .infoBox
{
    max-width: 45%; 
    max-height: 100%;
    margin-left: 80px;
    
    
}

.infoBox h2{
    color: #231903;
    font-size: 1.7em;
    line-height: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
    
}

.infoBox h2 span
{
    color: #ee8719;
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 1.5px;
}

.infoBox h2 .strong_word
{
    color: #ee8e27;
}

.infoBox p
{
    font-size: 15px;
}

.infoBox a
{
    display: inline-block;
    margin-top: 25px;
    width: 200px;
    padding: 8px 20px;
    background:linear-gradient(#ee8719, #c46506);
    color: #fff;
    border-radius: 5px;
    border-top-right-radius: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.infoBox a:hover{
    background:linear-gradient(#dd7608, #ae4c06);
    transition: 0.3s;
}

.seta_icon{
    width: 17px;
    height: 17px;
    
}

.infoBox{
    text-align: justify;
    word-wrap: break-word;
}

.imageSystem_div
{
    width: 100%;
    margin-right: 20px;
}

.imageBox
{
    
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.image_animal
{
    max-width: 410px;
    opacity: 1;
    transition: 0.5s;
}

.fade-out {
    opacity: 0; 
}

.fade-in {
    opacity: 1; 
}

.image_animal:hover{
    transform: scale(1.03);
}

.image_animal:not(:hover)
{
    transform: scale(1.0);
    transition: 0.5s;
}

.options_div
{
    width: 0px;
}

.options
{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
}

.list_animal
{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.4s;
    border-bottom: 1.5px solid ;
    border-bottom-color: #ec7c0c;
}

#dogIcon:hover
{
    content: url('../imgs/dog_icon_hover.png');
    
}

#dogIcon:not(:hover)
{
    content: url('../imgs/dog_icon.png');
    
}

#catIcon:hover
{
    content: url('../imgs/cat_icon_hover.png'); 
}   


#catIcon:not(:hover)
{
    content: url('../imgs/cat_icon.png');
}

#periquitoIcon:hover
{
    content: url('../imgs/periquito_icon_hover.png');
}


#periquitoIcon:not(:hover)
{
    content: url('../imgs/periquito_icon.png');
}



.list_animal:hover
{
    transform: translateY(-10px);
    border-bottom-color: #965009;
}

.icon_animal{
    max-width: 40px;
    
}

.redes
{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes li
{
    list-style: none;

}

.redes li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);

}

.redes li a:hover
{
    transform:scale(1.0);
    transition: 0.3s;
}

.redes li a:not(:hover) 
{
    transform: scale(0.6);
    transition: 0.4s;
}

.rede_icon
{
    max-width: 50px;
}

/*MEDIA QUERIES PARA RESPONSIVIDADE*/

@media (max-width: 1020px)
{
    .content
    {
        flex-direction: column;
        
    }

    .content .infoBox
    {
        margin-top: 20px;
        max-width: 75%; 
        max-height: 100%;
        margin-right: 100px;
        margin-bottom: 60px;
        
    }

    .imageBox
    {
    
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .image_animal
    {
        max-width: 50%;
        padding-left: 0px;
        opacity: 1;
        transition: 0.5s;
    }

    .redes
    {
        top: 55%;

    }

    .imageSystem_div
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }


    .options_div
    {
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 50%;
        padding: 30px;
        margin-bottom: 20px;  
    }

    .options
    {
        position: static;
        
        transform: translateX(0%);
    }
    

    
}



@media (max-width: 660px)
{
    
    header
    {
        padding: 20px;
        
    }

    header .logo_PetWorld{
        max-width: 60px;
    }

    header ul
    {
        display: none;
    }

    .content
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content .infoBox
    {
        width: 75%; 
        max-height: 120%;
        justify-content: flex-start;
        
    }

    .infoBox h2{
        
        font-size: 1.6em;
        line-height: 1.3em;
        font-weight: 500;
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
    }

    .infoBox a
    {
        width: 150px;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.5px;
        text-decoration: none;
    }

    .imageBox
    {
    
        width: 70%;
        display: flex;
        justify-content: center;
        margin: 0px;
        
    }

    .image_animal
    {
        max-width: 100%;
        opacity: 1;
        transition: 0.5s;
    }

    .imageSystem_div
    {
        flex-direction: row;  
    }

    .options_div
    {
        max-width: 30%;
        
    }

    .options
    {
        
        flex-direction: column;
        transform: translateY(0%);
        
    }


    .list_animal
    {
        margin-bottom: 30px;
        
    }

    
    .icon_animal{
        max-width: 30px;  
    }

    
    .redes
    {
        background: linear-gradient(#9e5104, #341d06);
        top: 68.5%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px ;
    }

    .rede_icon
{
    max-width: 40px;
}

    .menu
    {
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: url(../imgs/menu.png);
        background-size: 50px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .menu.on
    {
        background: url(../imgs/close.png);
        background-size: 50px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 3;    }
    
    header ul.menu_navigation.on
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        z-index: 2;
        transition: 0.5s;
    }

    header ul li a
    {
        margin: 10px 0;
        font-size: 1.5em;
        
    }

    header ul.menu_navigation li {
        opacity: 0;
        transform: translateY(20px);
        transition: 0.5s ease;
    }
    
    header ul.menu_navigation li.show {
        opacity: 1;
        transform: translate(0px);
    }

}

